.DS_Store
*/.DS_Store

key.json
secrets.yml
vault.key

packer/variables.json
packer/immutable_var.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

**/backend.tf

*.retry
